.main__image {
    --span: 5;
    max-width: 504px;
    height: 401px;
    border-radius: 8px;
    margin-top: 24px;
}

.dog-image {
    width: 100%;
}

.main__content {
    margin-top: 24px;
    --span: 7;
    grid-column: span var(--span);
    border-radius: 8px;
    overflow: hidden;
}

.main__content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

span {
    font-size: 16px;
    line-height: 20px;
}

.main__content__item-type {
    color: #C4C4C4;
    width: 50%;
}

.main__content__item-value {
    color: var(--color-black);
    width: 50%;
}