.orange-button {
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    background: var(--color-yellow-button);
}

.orange-button:hover {
    background: var(--color-yellow-button-hover);
}

.orange-button:active {
    background: var(--color-yellow-button-active);
}

.orange-button:focus {
    outline-style: none;
}

.text {
    font-family: Montserrat;
    font-style: normal;
    color: var(--color-black);
}

.font{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}