@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-yellow-button: #FBBA3C;
    --color-yellow-button-hover: #FCD17D;
    --color-yellow-button-active: #FAAA0F;
    --color-white-button-show: #EAEAEA;
    --color-orange: #FF9702;
    --color-background: #E5E5E5;
    --color-grey-border: #E8E8E8;
    --color-grey: #E1E1E1;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-background: #F2F2F2;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
    background: var(--color-white);
}

.header-container {
    display: flex;
    width: 1232px;
    height: 80px;
    background: var(--color-white);
}

.header-logo {
    height: 72px;
    width: 88px;
    margin-top: 3px;
    margin-left: 40px;
    justify-self: center;
}

.header-catalog {
    width: 148px;
    height: 45px;
    margin-top: 17px;
    margin-left: 40px;
}

.header-catalog__button {
    width: 148px;
    height: 45px;
}

.header-catalog__button-content {
    width: 100%;
    max-height: 45px;
    align-items: center;
}

.header-catalog__hamburger-logo {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.header-catalog__button-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.header-search {
    display: flex;
    align-items: center;
    width: 458px;
    height: 45px;
    margin-top: 17px;
    margin-left: 33px;
    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid var(--color-yellow-button);
}

.header-search__input {
    width: 348px;
    height: 100%;
    margin-left: 8px;
    border: none;
    outline: none;
}

.header-search__input::placeholder {
    opacity: 0.2;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.header-search__logo {
    width: 18px;
    height: 18px;
    margin-left: 8px;
}

.header-search__button {
    width: 111px;
    height: 100%;
}

.header-navigation {
    margin-top: 14px;
    height: 100%;
    width: 100%;
}

.header-navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 50px;
}

.header-navigation__list .header-navigation__list-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 56px;
    height: 53px;
}

.header-navigation__list-item-logo {
    width: 32px;
    height: 32px;
    display: block;
}

.header-navigation__list-item-name {
    white-space: nowrap;
    font-size: 14px;
    line-height: 17px;
}

.main-header {
    width: 1312px;
}

.main-header__breadcrumb {
    width: 220px;
    height: 15px;
    margin-top: 14px;
    margin-left: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
    color: black;
}

.main-header__breadcrumb .main-header__breadcrumb-item + .main-header__breadcrumb-item:before {
    content: "\00a0/\00a0";
}

.main-header__breadcrumb-item-link {
    text-decoration: none;
}

.main-header__breadcrumb .main-header__breadcrumb-item a:hover {
    text-decoration: underline;
}

.main-header__category-heading {
    width: 146px;
    height: 39px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-top: 14px;
    margin-left: 40px;
}

.main-header__breakline {
    width: 1312px;
    margin-top: 16px;
    height: 0px;
    opacity: 0.1;
    border-bottom: 1px solid var(--color-black);
}

.grid {
    display: grid;
    grid-gap: 16px;
    --cols:12;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    margin: 0 40px;
}

.grid-item {
    width: 100%;
    --span:1;
    grid-column: span var(--span);
}

.main-content__filter {
    --span: 3;
    max-width: 296px;
    height: 609px;
    border-radius: 8px;
    background: var(--color-grey-background);
    margin-top: 24px;
}

.main-content__filter-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--color-grey-border);
}

.main_content__filter-title {
    width: 64px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-left: 16px;
}

.main-content__filter-section-header {
    display: flex;
    justify-content: space-between;
}

.main-content__filter-section-header-title {
    margin-left: 16px;
    margin-top: 14px;
    max-width: 150px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.main-content__filter-section-header-arrow {
    cursor: pointer;
    width: 9px;
    height: 5px;
    margin-top: 15px;
    margin-right: 16px;
}

.main-content__filter-section-checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    margin-top: 14px;
}

.checkbox-item {
    max-width: 200px;
    margin-left: 8px;
    height: 17px;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.main-content__filter-section {
    width: 100%;
    border-bottom: 1px solid var(--color-grey-border);
    padding: 8px 16px 6px 16px;
}

.label {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.checkbox {
    display: none;
}

.fake-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    border-radius: 4px;
}

.fake-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 12px;
    height: 9px;
    background: url("../assets/check.svg");
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake-checkbox::before {
    opacity: 1;
}

.main-content__filter-section-search {
    display: flex;
    align-items: center;
    width: 222px;
    height: 32px;
    border-radius: 4px;
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
    background: var(--color-white);
    border: none;
}

.main-content__filter-section-input {
    width: 100%;
    height: 100%;
    margin-left: 11px;
    border: none;
    outline: none;
}

.main-content__filter-section-show {
    cursor: pointer;
    height: 15px;
    width: 83px;
    margin-top: 8px;
    margin-left: 16px;
}

.main-content__filter-section-show-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-orange);
}

.main-content__filter-section-size {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 0 29px 16px;
}

.input-number {
    width: 70px;
    height: 32px;
    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
}

.main-content__cards {
    --span: 9;
}

.main-content__cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    margin-top: -8px;
}

.main-content__card-item {
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    min-width: 216px;
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.main-content__card-item:hover .main-content__card-title {
    color: var(--color-yellow-button);
}

.main-content__card-item:active {
    border: 1px solid var(--color-yellow-button);
}

.main-content__card-image img {
    width: 100%;
}

.main-content__card-content {
    grid-auto-flow: column;
}

.main-content__card-title {
    max-width: 200px;
    height: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 14px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

.main-content__card-price {
    max-width: 100px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 4px;
    margin-left: 14px;
    margin-bottom: 8px;
}

.main-content__card-button {
    width: 116px;
    height: 31px;
    margin-top: 8px;
    margin-left: 14px;
    margin-bottom: 14px;
}

.main_content__card-button-text {
    width: 76px;
    height: 17px;
    margin-top: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.main__button-show {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
}

.button-show-more {
    cursor: pointer;
    border-color: transparent;
    width: 135px;
    height: 37px;
    background: var(--color-white);
    border: 1px solid var(--color-white-button-show);
    border-radius: 4px;
}

.button-show-more:hover {
    opacity: 0.9;
}

.button-show-more:active {
    opacity: 0.2;
    transform: scale(0.95);
}

.button-show-more:focus {
    outline-style: none;
}

.show-more-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.filter-result {
    display: none;
    border-radius: 4px;
    padding: 10px;
    top: 0;
    position: absolute;
    font-size: 12px;
    width: fit-content;
    background: var(--color-yellow-button);
    /*z-index: 99;*/
}

.filter-result__on{
    display: block;
}

.filter-result > button {
    text-decoration: underline;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}

@media (max-width: 1023px) {
    .header-container {
        width: 640px;
    }

    .header-logo {
        width: 52px;
        height: 42px;
        margin-left: 24px;
        margin-top: 22px;
        justify-self: center;
    }

    .header-catalog__button {
        width: 124px;
    }

    .header-search {
        width: 105px;
    }

    .header-search__input {
        max-width: 60px;
    }

    .header-search__button {
        display: none;
    }

    .main-content__filter {
        display: none;
    }
}

@media (max-width: 639px) {
    .header-container {
        width: 320px;
    }

    .header-logo {
        width: 57px;
        height: 46px;
        margin-left: 20px;
        margin-top: 17px;
        justify-self: center;
    }

    .header-catalog__button-name {
        display: none;
    }

    .header-catalog__button {
        height: 45px;
        width: 56px;
        order: 1;
    }

    .header-search {
        width: 139px;
    }

    .header-search__input {
        max-width: 60px;
    }

    .header-search__button {
        display: none;
    }

    .main-content__filter {
        display: none;
    }
}